.navbar-brand {
  font-weight: bold !important;
}

.card {
  transition: 0.2s;
  background-color: rgb(255, 255, 255);
}
.card:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1);
}

.gbrUt {
  transition: 1s;
}
